body{
    background-color: #f9f5f3;
}

#div_main{
    display:flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-direction: column;    
    flex-wrap:wrap;
    align-content: flex-start; /* align lines to the start of the container */
    /*gap: 10px;  space between items */
    max-height: max-content;
    min-width: 300px;
   
    

}

/* 修改这个选择器，使其适用于所有动态创建的 div_section */
.div_section, #div_section {
    display: flex;
    margin: 10px 5px;
    padding: 5px 5px;
    max-height: fit-content;
    width: 300px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    box-sizing: border-box;
    
}

h1{
    text-align:center;
}

body{
    margin: 80px;
    padding:0;
}

ul {
display: flex;
flex-direction: row;
justify-content: center;
list-style-type: none;
align-items: center;
gap: 100px;


box-sizing: border-box;
flex-direction: row;         
max-width:94%wh;
height: 50px;
background: #181516;
/*border: 1px solid #dee2e6;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0,0,0,0.1);
*/
}

ul li a {
    text-decoration: none;
    color: #fefefe;
    font-weight: bold;
    padding: 5px 10px;
}
ul li a:hover {
    background-color: #007BFF;
    color: rgb(252, 251, 251);
    border-radius: 4px;
}

ul li a:visited {
    color: rgb(252, 252, 252);
}

#unfinishedPortion,th,td {
border:#181516 1px solid;
padding:5px;
border-collapse: collapse;

}